/*
COLOR PALETTE
    colors:
        #242582
        #553D67
        #F64C72
        #99738E
        #2F2FA2
*/

:root {
    --darkest-blue: #242582; 
    --second-darkest-blue: #2F2FA2;
    --purplish-gray: #553D67;
    --pink: #F64C72;
    --light-purplish-gray: #99738E;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
    position: relative;
}



.navScroll {
    background: white !important;
    transition:500ms ease;
}
.navLinkScroll {
    color: var(--darkest-blue) !important;
}

.navbar-brand {
    color: var(--pink);
}

.flex-grow {
    flex: 1 0 auto;
}

#mainPage {
    background:var(--darkest-blue);
}

#mainPageHeading {
    color: white;
}


#backgroundImgProspective {
    background-color: #D8C3A5;
    /* background: url("images/buildingshot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}
#backgroundImgCurrent {
    background: url("images/current.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#backgroundImgFaculty {
    background-color: #D8C3A5;
    /* background: url("images/faculty.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}
#backgroundImgAlumni {
    background: url("images/alumni.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#studLife {
    background-color: #EAE7DC;
    opacity: 0.75;
}

header {
    background: url("images/buildingshot.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    background:transparent;
}
.navbar .nav-link{
    color: white;
}








.btn-circle {
    border-radius: 50% !important;
    height: 30em;
    width: 10em;
    outline: none !important;
    background-color: white;
    color: var(--pink) !important;
  }
.btn-circle:hover {
    outline: none !important;
    background-color: var(--pink);
    color: white !important;
}
.btn-circle:active {
    outline:none !important;
}

.btnCenter {
    text-align: center;
    margin: 10%;
}

