/*
COLOR PALETTE
    colors:
        #242582
        #553D67
        #F64C72
        #99738E
        #2F2FA2
*/

:root {
    --darkest-blue: #242582; 
    --second-darkest-blue: #2F2FA2;
    --purplish-gray: #553D67;
    --pink: #F64C72;
    --light-purplish-gray: #99738E;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
}


.flex-grow {
    flex: 1 0 auto;
}

#mainPage {
    background:var(--darkest-blue);
}

#mainPageHeading {
    background-color: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}


#backgroundImgProspective {
    background-color: #D8C3A5;
    /* background: url("images/buildingshot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}
#backgroundImgCurrent {
    background: url("images/current.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#backgroundImgFaculty {
    background-color: #D8C3A5;
    /* background: url("images/faculty.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}
#backgroundImgAlumni {
    background: url("images/alumni.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#studLife {
    background-color: #EAE7DC;
    opacity: 0.75;
}

header {
    background: url("images/buildingshot.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}